@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');


/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
 color: #222;
 font-size: 1em;
 line-height: 1.4;
}

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}

::selection {
 background: #b3d4fc;
 text-shadow: none;
}

hr {
 display: block;
 height: 1px;
 border: 0;
 border-top: 1px solid #ccc;
 margin: 1em 0;
 padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
 vertical-align: middle;
}

fieldset {
 border: 0;
 margin: 0;
 padding: 0;
}

textarea {
 resize: vertical;
}

.browserupgrade {
 margin: 0.2em 0;
 background: #ccc;
 color: #000;
 padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 text-rendering: optimizeLegibility;
}

html,
body {
 height: 100%;
 min-height: 1vh;
 text-align: center;
 background-color: #282828;
 color: white;
 overflow: hidden;
 width: 100%;
 position: fixed;
}

pre {
 font-family: 'Anonymous Pro', monospace;
 font-weight: 700;
 width: 100%;
 font-size: 12px;
 line-height: 14px;
 text-align: center;
 z-index: 2;
 position: relative;
 overflow: hidden;
}

pre.top {
 line-height: 8px;
 font-size: 10px;
}

h2 {
 font-family: 'Anonymous Pro', monospace;
 font-weight: 400;
 font-size: 11px;
 letter-spacing: 1.01px;
 width: 50%;
 text-align: center;
 z-index: 2;
 position: absolute;
 bottom: 13px;
 margin: 0 auto;
 left: 0;
 right: 0;
}

h2.left {
 right: auto;
 text-align: left;
 padding-left: 13px;
 letter-spacing: 0;
}

h2.left a{
 cursor: help;
}

h2.right {
 left: auto;
 text-align: right;
 padding-right: 13px;
 letter-spacing: 0;
}

h2.right a{
 cursor: alias;
}

a.tweet {
 /* Be here now. Be in t: */
 font-family: 'Anonymous Pro', monospace;
 font-weight: 700;
 font-size: 14px;
 color: #1200FF;
 letter-spacing: 0;
 line-height: 21px;
 max-width: 450px;
 margin: 0 auto;
 text-align: left;
 position: absolute;
 top: 50%;
 -webkit-transform: perspective(1px) translateY(-50%) translateX(-50%);
         transform: perspective(1px) translateY(-50%) translateX(-50%);
 left: 50%;
 width: 100%;
 text-decoration: none;
 z-index: 3;
 -webkit-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 -o-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 min-height: 100px;
}

a span {
 font-size: 21px;
}

.loading {
 opacity: 0;
}

a:hover {
 text-decoration: underline;
 cursor: pointer;
}

a {
 color: white;
}

#gif {
 position: absolute;
 top: 50%;
 left: 50%;
 z-index: 1;
 opacity: .3;
 -webkit-filter: contrast(2) saturate(0.05);
         filter: contrast(2) saturate(0.05);
 -webkit-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 -o-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

#gif video {
 width: 100%;
 height: 100%;
}

#gif2 {

 position: absolute;
 top: 50%;
 left: 50%;
 z-index: 2;
 overflow: hidden;
 width: 390px;
 height: 221px;
 -webkit-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 -o-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

#gif2 video {
 -webkit-filter: brightness(2.55) saturate(0) contrast(0.7);
         filter: brightness(2.55) saturate(0) contrast(0.7);
 width: 100%;
 height: 100%;
 /* object-fit: cover;*/
 -webkit-transform: scale(3);
     -ms-transform: scale(3);
         transform: scale(3);
}

#gif2:before {
 content: "";
 display: block;
 width: 100%;
 height: 21px;
 position: absolute;
 background-image: url(../img/zoomheader.jpg);
 background-size: cover;
 z-index: 10;
}

#gif2:after {
 content: "";
 display: block;
 background-color: inherit;
 width: 100%;
 height: 100%;
 mix-blend-mode: multiply;
 top: 0;
 position: absolute;
}

button {
 position: absolute;
 bottom: 40px;
 z-index: 333;
 width: 80px;
 height: 79px;
 background-color: transparent;
 border: none;
 font-family: "Anonymous Pro", monospace;
 font-size: 24px;
 font-weight: 700;
 left: 50%;
 -webkit-transform: translatex(-50%);
     -ms-transform: translatex(-50%);
         transform: translatex(-50%);
 background-image: url(../img/circle.png);
 background-size: contain;
 background-repeat: no-repeat;
}

button:hover {
 color: blue;
}

button:focus {
 outline: none;
}

button:before {
 content: "HIT THE";
 position: absolute;
 width: 110px;
 text-align: right;
 left: -130px;
 top: 23px;
 color: white;
}

button:after {
 content: "BUTTON";
 position: absolute;
 width: 110px;
 text-align: left;
 right: -130px;
 top: 23px;
 color: white;
 letter-spacing: 2.2px;
}

div.scroll {
 display: block;
 width: 15px;
 height: 200px;
 /* Rectangle 4: */
 background: #EDEDED;
 border: 2px solid #000000;
 position: absolute;
 -webkit-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 -o-transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
 left: 50%;
 top: 50%;
 -webkit-transform: translateX(-50%) translateY(-50%);
     -ms-transform: translateX(-50%) translateY(-50%);
         transform: translateX(-50%) translateY(-50%);
 z-index: 1;
}

.scroll:before {
 content: "";
 display: block;
 width: 15px;
 height: 22px;
 position: absolute;
 top: -2px;
 background-image: url(../img/scroll-top.jpg);
 background-size: contain;
 left: -2px;
}

.scroll:after {
 content: "";
 display: block;
 width: 15px;
 height: 16px;
 position: absolute;
 bottom: -2px;
 background-image: url(../img/scroll-bottom.jpg);
 background-size: contain;
 left: -2px;
}

@-webkit-keyframes rainbow {
 from {
  color: rgb(255, 255, 255);
 }
 8% {
  color: rgb(255, 0, 0);
 }
 16.6% {
  color: rgb(255, 0, 255);
 }
 33.3% {
  color: rgb(0, 0, 255);
 }
 50% {
  color: rgb(0, 255, 255);
 }
 66.6% {
  color: rgb(0, 255, 0);
 }
 83.3% {
  color: rgb(255, 255, 0);
 }
 93 {
  color: rgb(255, 0, 0);
 }
 to {
  color: rgb(255, 255, 255);
 }
}

@keyframes rainbow {
 from {
  color: rgb(255, 255, 255);
 }
 8% {
  color: rgb(255, 0, 0);
 }
 16.6% {
  color: rgb(255, 0, 255);
 }
 33.3% {
  color: rgb(0, 0, 255);
 }
 50% {
  color: rgb(0, 255, 255);
 }
 66.6% {
  color: rgb(0, 255, 0);
 }
 83.3% {
  color: rgb(255, 255, 0);
 }
 93 {
  color: rgb(255, 0, 0);
 }
 to {
  color: rgb(255, 255, 255);
 }
}

.animate span {
  -webkit-animation: rainbow .75s linear;
          animation: rainbow .75s linear;
 }

@media (max-width: 800px) {
 div.scroll {
  visibility: hidden;
 }
 a.tweet {
  position: absolute;
  top: 126px;
  width: 100%;
  max-width: 100%;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  left: 0;
  padding: 24px;
  font-size: 18px;
 }

 .tweet span {
  font-size: 24px;
 }
 pre.top {
  font-size: 6px;
  line-height: 5px;
 }

 h2 {

  width: 100%;
  bottom: 40px;
 }

 button {
  bottom: 60px;
 }

 h2.left {
  width: 100%;
  text-align: center;
  bottom: 27px;
  padding: 0;
color: rgba(255,255,255,.7);
 }
 h2.right {

  width: 100%;
  text-align: center;
  padding: 0;
  bottom: 14px;
color: rgba(255,255,255,.7);
 }
 h2 a{
  color: white;
 }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
 display: none !important;
 visibility: hidden;
}

.visuallyhidden {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 width: auto;
}

.invisible {
 visibility: hidden;
}

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}

.clearfix:after {
 clear: both;
}

.clearfix {
 *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
 *,
 *:before,
 *:after {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
 }
 a,
 a:visited {
  text-decoration: underline;
 }
 a[href]:after {
  content: " (" attr(href) ")";
 }
 abbr[title]:after {
  content: " (" attr(title) ")";
 }
 a[href^="#"]:after,
 a[href^="javascript:"]:after {
  content: "";
 }
 pre,
 blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
 }
 thead {
  display: table-header-group;
 }
 tr,
 img {
  page-break-inside: avoid;
 }
 img {
  max-width: 100% !important;
 }
 p,
 h2,
 h3 {
  orphans: 3;
  widows: 3;
 }
 h2,
 h3 {
  page-break-after: avoid;
 }
}